In [402]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from collections import Counter
import itertools

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
#data.info()

#imdb_id	1889	non-null	object	ID
#budget	1889	non-null	int64	Бюджет
#revenue	1889	non-null	int64	Доход
#original_title	1889	non-null	object	Оригинальное название
#cast	1889	non-null	object	Актеры
#director	1889	non-null	object	Режиссер
#tagline	1889	non-null	object	подзаголовок
#overview	1889	non-null	object	резюме
#runtime	1889	non-null	int64	Длитетльность
#genres	1889	non-null	object	жанр
#production_companies	1889	non-null	object	Клмпания производитель
#release_date	1889	non-null	object	Дата выхода
#vote_average	1889	non-null	float64	среднее число голосов
#release_year	1889	non-null	int64	Год выхода

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005
1210,tt1538403,60000000,90565421,The Mortal Instruments: City of Bones,Lily Collins|Jamie Campbell Bower|Kevin Zegers...,Harald Zwart,You have been chosen,"In New York City, Clary Fray, a seemingly ordi...",130,Action|Adventure|Drama|Mystery|Romance,Constantin Film Produktion|Don Carmody Product...,8/21/2013,6.2,2013
936,tt0253556,60000000,43061982,Reign of Fire,Christian Bale|Matthew McConaughey|Izabella Sc...,Rob Bowman,Fight Fire With Fire,"In post-apocalyptic England, an American volun...",101,Action|Fantasy|Science Fiction|Thriller,The Zanuck Company|Spyglass Entertainment|Worl...,7/12/2002,5.9,2002
1209,tt1335975,175000000,150962475,47 Ronin,Keanu Reeves|Hiroyuki Sanada|Kou Shibasaki|Tad...,Carl Rinsch,For courage. For loyalty. For honour.,"Based on the original 1941 movie from Japan, a...",118,Action|Adventure|Fantasy,Mid Atlantic Films|Stuber Productions|Universa...,12/6/2013,5.8,2013
1575,tt0298148,150000000,919838758,Shrek 2,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Andrew Adamson|Kelly Asbury|Conrad Vernon,Once upon another time...,"Shrek, Fiona and Donkey set off to Far, Far Aw...",93,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/19/2004,6.5,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [73]:
#answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [54]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [53]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [35]:
# можно добавлять разные варианты решения
data[data['budget'] == data.describe()['budget']['max']][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 3

In [42]:
data.sort_values(by='budget', ascending=False).head(1)[['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [55]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [36]:
data[data['runtime'] == data['runtime'].max()][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

ВАРИАНТ 2

In [37]:
data[data['runtime'] == data.describe()['runtime']['max']][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

ВАРИАНТ 3

In [44]:
data.sort_values(by='runtime', ascending=False).head(1)[['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [56]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [38]:
data[data['runtime'] == data['runtime'].min()][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

Вариант 2

In [39]:
data[data['runtime'] == data.describe()['runtime']['min']][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

Вариант 3

In [46]:
data.sort_values(by='runtime', ascending=True).head(1)[['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [48]:
answers['4'] = '4. 110'

In [70]:
data.describe()['runtime']['mean']

109.6585494970884

Вариант 2

In [47]:
data['runtime'].mean()

109.6585494970884

Вариант 3

In [57]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [71]:
answers['5'] = '5. 107'

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107'}

In [61]:
data.runtime.median()

107.0

Вариант 2

In [68]:
data.describe().runtime['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [83]:
answers['6'] = '6. Avatar (tt0499549)'

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)'}

In [81]:
# лучше код получения столбца profit вынести в Предобработку что в начале
#data['profit'] = data['revenue'] - data['budget']
data.sort_values(by='profit', ascending=False).head(1)[['imdb_id','original_title']]

       imdb_id original_title
239  tt0499549         Avatar

Вариант 2

In [80]:
data[data.profit == data.profit.max()][['imdb_id','original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [87]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

In [85]:
data[data.profit == data.profit.min()][['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

Вариант 2

In [95]:
data.sort_values(by='profit', ascending=True).head(1)[['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [94]:
answers['8'] = '8. 1478'

In [90]:
len(data[data.revenue > data.budget])

1478

Вариант 2

In [93]:
data[data.profit > 0].profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [104]:
answers['9'] = '9. The Dark Knight (tt0468569)'

In [103]:
data[data.release_year == 2008].sort_values(by='revenue', ascending=False).head(1)[['imdb_id','original_title']]

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [110]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [105]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(by='profit', ascending=True).head(1)[['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [182]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'

In [177]:
#создаем пустой список
genre_list=[]
#в цикле парсим стобец genres и наполняем наш пустой список
for genre in data.genres:
    genre_list.append(genre.split('|'))
    
#Из списка списков делаем сплошной список    
genre_list = sum(genre_list,[])

#Преобразуем список в DataFrame

genre_df = pd.DataFrame(genre_list)
genre_df.columns = ['genres']

#Подсчитываем кол-во жанров
genre_df.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

In [181]:
#создаем пустой список
genre_list=[]
#в цикле парсим стобец genres и наполняем наш пустой список. Список списков сразу парсится с помощью ф-ии extend
for genre in data.genres:
    genre_list.extend(genre.split('|'))

#Создаем уникальное кол-во жанров черех преобразование списка в множество для 
#сокращения общего кол-ва прохождений по циклу в коде ниже 
genre_set = set(genre_list)  

#Считаем кол-во жаноров в списке используя множество
s_prev = 0
for genre in genre_set:
    s = genre_list.count(genre)
    if s > s_prev:
        s_prev = s
        genre_str = genre

#выводим кол-во и название жанра       
print (genre_str, s_prev)

Drama 782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [186]:
answers['12'] = '12. Drama'

In [184]:
#создаем пустой список
genre_list=[]
#в цикле парсим стобец genres предварительно отсортировав где  profit>0 и наполняем наш пустой список
for genre in data[data.profit>0].genres:
    genre_list.append(genre.split('|'))
    
#Из списка списков делаем сплошной список    
genre_list = sum(genre_list,[])

#Преобразуем список в DataFrame

genre_df = pd.DataFrame(genre_list)
genre_df.columns = ['genres']

#Подсчитываем кол-во жанров
genre_df.genres.value_counts().head(1)

Drama    560
Name: genres, dtype: int64

ВАРИАНТ 2

In [220]:
#создаем пустой список
genre_list=[]
#в цикле парсим стобец genres и наполняем наш пустой список где  profit>0. Список списков сразу парсится с помощью ф-ии extend
for genre in data[data.profit>0].genres:
    genre_list.extend(genre.split('|'))

#Создаем уникальное кол-во жанров черех преобразование списка в множество для 
#сокращения общего кол-ва прохождений по циклу в коде ниже 
genre_set = set(genre_list)  

#Считаем кол-во жаноров в списке используя множество
s_prev = 0
for genre in genre_set:
    s = genre_list.count(genre)
    if s > s_prev:
        s_prev = s
        genre_str = genre

#выводим кол-во и название жанра       
print (genre_str, s_prev)

Drama 560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [217]:
answers['13'] = '13. Peter Jackson'

In [239]:
director_list=[]
#в цикле парсим стобец genres и наполняем наш пустой список. Список списков сразу парсится с помощью ф-ии extend
for director in data.director.unique():
    director_list.extend(director.split('|'))

#Создаем уникальное кол-во режиссерjd черех преобразование списка в множество для 
#сокращения общего кол-ва прохождений по циклу в коде ниже 
director_set = set(director_list)  

#Считаем суммарные кассовые сборы используя contains путем сравнивания с предыдущем значением выясняем наиболшое значение
s_prev = 0
for director in director_set:
    s = data[data.director.str.contains(director,na = False)]['revenue'].sum()
    if s > s_prev:
        s_prev = s
        director_str = director

#Результат выводим на экран
print (director_str, s)

Peter Jackson 2490614145

ВАРИАНТ 2

In [238]:

# создаем пустой словарь режиссёров
directors_dict = {}
# цикл парсинга режиссёров
for string_number in data.index:
    for director in data.loc[string_number].director.split('|'):
        if director in directors_dict:
            directors_dict[director] += data.loc[string_number].revenue
        else:
            directors_dict[director] = data.loc[string_number].revenue
# вывод максимального значения
max(directors_dict, key=directors_dict.get)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [237]:
answers['14'] = '14. Robert Rodriguez'

In [236]:
#Формируем список режисеров которые снимали в стиле Action
director_list=[]
for director in data[data.genres.str.contains('Action',na = False)].director:
    director_list.extend(director.split('|'))

#Преобразуем список в DataFrame
director_df = pd.DataFrame(director_list)
director_df.columns = ['director']

#Подсчитываем кол-во
director_df.director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [302]:
answers['15'] = '15. Chris Hemsworth'

In [300]:
# создаем пустой словарь актёров
actors_dict = {}
# цикл парсинга актёров
for string_number in data[data.release_year == 2012].index:
    for actor in data.loc[string_number].cast.split('|'):
        if actor in actors_dict:
            actors_dict[actor] += data.loc[string_number].revenue
        else:
            actors_dict[actor] = data.loc[string_number].revenue
# вывод максимального значения
max(actors_dict, key=actors_dict.get)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [307]:
answers['16'] = '16. Matt Damon'

In [306]:
# создаем пустой словарь актёров
actors_dict = {}
# цикл парсинга актёров
for string_number in data[data.budget > data.describe()['budget']['mean']].index:
    for actor in data.loc[string_number].cast.split('|'):
        if actor in actors_dict:
            actors_dict[actor] += 1
        else:
            actors_dict[actor] = 1
# вывод максимального значения
max(actors_dict, key=actors_dict.get)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [316]:
answers['17'] = '17. Action'

In [314]:
genre_list=[]

#в цикле парсим стобец genres и наполняем наш пустой список где  актер Nicolas Cage. Список списков сразу парсится с помощью ф-ии extend
for genre in data[data.cast.str.contains('Nicolas Cage',na = False)].genres:
    genre_list.extend(genre.split('|'))

#Преобразуем список в DataFrame
genre_df = pd.DataFrame(genre_list)
genre_df.columns = ['genres']

#Подсчитываем кол-во жанров
genre_df.genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [321]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

In [329]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit').head(1)[['imdb_id','original_title']]

       imdb_id        original_title
925  tt0267626  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [331]:
answers['19'] = '19. 2015'

In [330]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [333]:
answers['20'] = '20. 2014'

In [332]:
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [371]:
answers['21'] = '21. 9'

In [363]:
pd.concat([data.original_title, data.release_date.apply(lambda s: s.split('/')[0])], axis=1).release_date.value_counts().head(1)

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [372]:
answers['22'] = '22. 450'

In [370]:
data['release_month'] = data.release_date.apply(lambda s: s.split('/')[0])
data.query("release_month in ('6','7','8')").release_month.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [379]:
answers['23'] = '23. Peter Jackson'

In [378]:
data['release_month'] = data.release_date.apply(lambda s: s.split('/')[0])

director_list=[]

#в цикле парсим стобец genres и наполняем наш пустой список только за зимние месяцы. Список списков сразу парсится с помощью ф-ии extend
for director in data.query("release_month in ('1','2','12')").director:
    director_list.extend(director.split('|'))

#Преобразуем список в DataFrame
director_df = pd.DataFrame(director_list)
director_df.columns = ['director']

#Подсчитываем кол-во
director_df.director.value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [395]:
answers['24'] = '24. Four By Two Productions'

In [390]:
# создаем пустой словарь студий
production_companies_dict = {}
# цикл парсинга студий
for string_number in data.index:
    for production_company in data.loc[string_number].production_companies.split('|'):
        if production_company in production_companies_dict:
            production_companies_dict[production_company].append(len(data.loc[string_number].original_title))
        else:
            production_companies_dict[production_company] = [len(data.loc[string_number].original_title)]

# создаем пустой среднего количества символов в названии фильма
mean_len_original_title_dict = {}
# цикл парсинга среднего количества символов в названии фильма
for production_company, len_original_title in production_companies_dict.items():
    mean_len_original_title_dict[production_company] = np.mean(len_original_title)
# вывод максимального значения
max(mean_len_original_title_dict, key=mean_len_original_title_dict.get)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [394]:
answers['25'] = '25. Midnight Picture Show'

In [393]:
# создание столбца len_overview (количество символов в описании фильма)
data['len_overview'] = [len(x) for x in data.overview.str.split()]

production_companies_dict = {}
# цикл парсинга студий
for string_number in data.index:
    for production_company in data.loc[string_number].production_companies.split('|'):
        if production_company in production_companies_dict:
            production_companies_dict[production_company].append(data.loc[string_number].len_overview)
        else:
            production_companies_dict[production_company] = [data.loc[string_number].len_overview]

# создаем пустой среднего количества слов в описании фильма
mean_len_overview_dict = {}
# цикл парсинга среднего количества слов в описании фильма
for production_company, mean_len in production_companies_dict.items():
    mean_len_overview_dict[production_company] = np.mean(mean_len)
# вывод максимального значения
max(mean_len_overview_dict, key=mean_len_overview_dict.get)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [401]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

In [400]:
data.sort_values(by='vote_average', ascending=False).head(round(data.shape[0]/100))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_symbols_original_title,len_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12,3,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11,9,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10,10,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5,22,47
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400,12,37,41

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [405]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'

In [404]:
# создание столбца cast_list (список актеров)
data['cast_list'] = data.cast.apply(lambda x: x.split('|'))

# создаем пустой временный список пар актеров
temp_cast_list = []
# создаем пустой список пар актеров
cast_list = []
# цикл наполнения временного списка пар актеров
for string_number in data.index:
    temp_cast_list.append(list(itertools.combinations(data.cast_list.loc[string_number], 2)))
# цикл наполнения основного списка пар актеров
for element in temp_cast_list:
    for couple in element:
        cast_list.append(couple)
pd.Series(Counter(cast_list)).sort_values(ascending=False)

Daniel Radcliffe      Emma Watson                 8
                      Rupert Grint                8
Rupert Grint          Emma Watson                 7
Ben Stiller           Owen Wilson                 6
Johnny Depp           Helena Bonham Carter        6
Hugh Jackman          Ian McKellen                5
Kristen Stewart       Taylor Lautner              5
                      Robert Pattinson            5
Robert Pattinson      Taylor Lautner              5
Adam Sandler          Kevin James                 5
Josh Hutcherson       Liam Hemsworth              4
Costas Mandylor       Betsy Russell               4
Vin Diesel            Jordana Brewster            4
Taylor Lautner        Peter Facinelli             4
Robert Pattinson      Peter Facinelli             4
Tobin Bell            Betsy Russell               4
George Clooney        Brad Pitt                   4
Tobin Bell            Costas Mandylor             4
Eddie Murphy          Cameron Diaz                4
Kristen Stewart       Peter Facinelli             4
Liam Hemsworth        Woody Harrelson             4
Paul Walker           Jordana Brewster            4
Christian Bale        Michael Caine               4
Mike Myers            Cameron Diaz                4
Jennifer Lawrence     Josh Hutcherson             4
                      Liam Hemsworth              4
                      Woody Harrelson             4
Mike Myers            Eddie Murphy                4
Josh Hutcherson       Woody Harrelson             4
Hugh Jackman          Halle Berry                 4
                                                 ..
Maura Tierney         Martin Donovan              1
                      Hilary Swank                1
Maude Apatow          Megan Fox                   1
Matthias Schoenaerts  Sam Riley                   1
                      Ruth Wilson                 1
                      Ben Whishaw                 1
                      Amber Heard                 1
Matthew Settle        Tess Harper                 1
                      Nathan Bexton               1
Matthew Perry         Vincent Pastore             1
                      Tyler Steelman              1
                      Rosanna Arquette            1
                      Michael Clarke Duncan       1
                      Elizabeth Hurley            1
Matthew McConaughey   Olivia Munn                 1
Matthew Perry         Cedric the Entertainer      1
                      Bruce Campbell              1
                      Amanda Peet                 1
                      Allison Miller              1
Matthew McConaughey   Zooey Deschanel             1
                      Tye Sheridan                1
                      Thomas Haden Church         1
                      Sarah Jessica Parker        1
                      Sam Shepard                 1
                      Ryan Phillippe              1
                      Rene Russo                  1
                      Reese Witherspoon           1
                      Powers Boothe               1
                      PenÃ©lope Cruz              1
50 Cent               Adewale Akinnuoye-Agbaje    1
Length: 18121, dtype: int64

# Submission

In [406]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '2': '2. Gods and Generals (tt0279111)',
 '20': '20. 2014',
 '21': '21. 9',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)'}

In [407]:
# и убедиться что ни чего не пропустил)
len(answers)

27